.block-flip-cards {
    .section-plans {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
      font-family: "Lato", sans-serif;
    }
  
    .card {
      text-align: center;
      height: 480px;
      position: relative;
      perspective: 150rem;
      color: #fff;
    }
  
    .card-title-container {
      width: 50px;
      margin: 20px auto 0 auto;
    }
    .card-title-container img {
      width: 100%;
      filter: invert(100%);
    }
    .card__heading {
      font-size: 40px;
      font-weight: 300;
      text-transform: uppercase;
      margin: 12px 0 40px 0;
    }
  
    .card__side {
      height: 480px;
      transition: all 0.8s ease;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      backface-visibility: hidden;
      border-radius: 3px;
      overflow: hidden;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    }
    .card__side--front {
      background-color: #fff;
      background: linear-gradient(-45deg, #f403d1, #64b5f6);
    }
    .card__side--back {
      transform: rotateY(180deg);
      background: linear-gradient(-45deg, #64b5f6, #f403d1);
    }
  
    .card:hover .card__side--front {
      transform: rotateY(-180deg);
    }
    .card:hover .card__side--back {
      transform: rotateY(0);
    }
  
    .card__details ul {
      list-style-type: none;
      padding-left: 0;
      width: 80%;
      margin: 0 auto;
      font-weight: 400;
      font-size: 15px;
    }
    .card__details ul li {
      padding: 12px 0;
    }
    .card__details ul li:not(:last-child) {
      border-bottom: 1px solid #eee;
    }
    
    .card__cta {
      margin-top: 150px;
    }
    .card__price-only {
      text-transform: uppercase;
      font-size: 12px;
    }
    .card__price-value {
      font-size: 34px;
      font-weight: 300;
      margin: 0 0 40px 0;
    }
    .btn.btn--white {
      text-transform: uppercase;
      color: #000;
      text-decoration: none;
      background-color: #fff;
      color: #777;
      border-radius: 4px;
      padding: 16px 24px;
      font-size: 14px;
    }
    .card-side-config button {
      margin-right: 10px;
      color: #1f75fe;
      border: 1px solid #1f75fe;
      padding: 8px 12px;
      border-radius: 8px;
      background-color: white;
      border: 1px solid #1f75fe;
      cursor: pointer;
    }
    .card-side-config button.active {
      background-color: #1f75fe;
      color: #fff;
    }
    
    .card.show-front .card__side--front { 
      transform: none !important;
    }
    .card.show-front:hover .card__side--back {
      transform: rotateY(180deg);
    }
    .card.show-back .card__side--front { 
      transform: rotateY(180deg);
    }
    .card.show-back .card__side--back {
      transform: none !important;
    }
  }
  
  .gjs-dashed .block-flip-cards .card-side-config {
    display: block !important;
    margin-bottom: 10px;
  }
  
  